body {
    margin: 0;
    font-family: 'Segoe UI', Arial;
    background: #111b21;
    color: white;
}

/* LOGIN CARD */
#login {
    width: 300px;
    margin: 120px auto;
    padding: 20px;
    background: #202c33;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    text-align: center;
}

#login h2 {
    margin-bottom: 15px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    outline: none;
}

button {
    width: 95%;
    padding: 10px;
    background: #00a884;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #019874;
}

/* CHAT */
#chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
#chatHeader {
    background: #202c33;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #2a3942;
}

/* MESSAGES */
#messages {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* MESSAGE BUBBLES */
.message {
    max-width: 65%;
    padding: 10px 12px;
    margin: 6px;
    border-radius: 10px;
    line-height: 1.4;
}

/* YOUR MESSAGE */
.me {
    align-self: flex-end;
    background: #005c4b;
}

/* OTHER USERS */
.other {
    align-self: flex-start;
    background: #202c33;
}

/* SYSTEM */
.system {
    align-self: center;
    background: #2a3942;
    font-size: 12px;
}

/* TIME */
.message span {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    opacity: 0.6;
    text-align: right;
}

/* INPUT AREA */
#inputArea {
    display: flex;
    padding: 10px;
    background: #202c33;
    border-top: 1px solid #2a3942;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-right: 10px;
}

#inputArea button {
    width: auto;
    padding: 10px 15px;
    border-radius: 20px;
}
